@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('../css/cores.css');

html{
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
}

body{
    background: var(--fundo);
}

.voltar{
    position: absolute;
    display: flex;
    align-items: center;
    margin: 4% 5% 0 5%;
}

#voltar-icone{
    font-size: 175%;
    color: var(--voltar);
}

.texto-voltar{
    font-family: 'Poppins', sans-serif;
    margin-left: 0.8%;
    font-weight: 500;
    font-size: 110%;
    color: var(--voltar);
}

/* Caixa */

.caixa{
    margin: 4% 32% 0 32%;
    box-shadow: 1px 10px 35px var(--sombra);
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    border: none;
    padding: 0 0 3% 0;
    background: var(--caixa);
}

.titulo{
    color: var(--titulo);
    font-weight: 700;
    font-size: 180%;
    text-align: center;
    margin-top: 8%;
}

.cad{
    display: flex;
    flex-direction: column;
    margin: 3% 10%;
}

.sub-titulo{
    font-size: 95%;
    font-weight: 600;
    margin-top: 5%;
    color: var(--titulo-dados);
}

.txt{
    border-radius: 5px;
    border: 1px solid var(--cinza-1);
    padding: 2% 2%;
    margin-top: 1.5%;
    font-size: 100%;
}

/* Botão de cadastrar */

.Btn-Cadatrar{
    background-color: var(--fundo-botao);
    color: var(--texto-branco);
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    font-weight: 400;
    margin-top: 12%;
    padding: 2%;
    border-radius: 8px;
    border: 1px solid transparent;
    
}


/* RESPONSIVO */

@media (max-width: 700px){

    /* tirando e diminuindo*/
    .icone-mudar-tema{
        display: none;
    }

    .logo{

    }

    .nav-responsivo{
        display: block;
    }
}