@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,400;7..72,500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('cores.css');

html{
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
    letter-spacing: normal;
}

body{
    background: var(--fundo);
    font-family:'Poppins', sans-serif;
    font-weight: 470;
    letter-spacing: 5px;    
}

.voltar{
    display: flex;
    align-items: center;
    margin: 2% 5% 2% 5%;
}

#voltar-icone{
    font-size: 175%;
    color: var(--preto-1);
}

.texto-voltar{
    font-family: 'Poppins', sans-serif;
    margin-left: 0.8%;
    font-weight: 500;
    font-size: 100%;
    color: var(--preto-1);
}

h2{
    color: var(--h2);
    text-transform: uppercase;
    margin: 3% 0 0 5%;
    letter-spacing: normal;
    font-size: 180%;
    font-family: 'Poppins', sans-serif;
}

.container{
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--cinza-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: auto;
    margin: 1.5% 0 2% 5%;
    padding: 1% 2% 1% 2%;
}
.container .link-diagnostico {
    opacity: 0;
    transform: translateX(50px);
    transition: all ease .2s;
}

.container:hover .link-diagnostico{
    transform: translateX(0px);
    opacity: 1;
}

.info-diagnostico{
    display: flex;
    flex-direction: column;
    letter-spacing: normal;
    width: 70%;
}

.caixa{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.dados{
    font-size: 110%;
    color: var(--titulo-dados);
    margin: 0.5% 0 0.5% 1%;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

label.titulo-dados{
    letter-spacing: normal;
    font-weight: bold;
    font-size: 110%;
    color: var(--titulo-dados);
    margin: 0.5% 0;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}


a.link{
    color: var(--ver-diag);
    height: 40px;
    width: 25%;
    border: 1px solid var(--ver-diag);
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: normal;
    padding: 2% 4% 2% 4%;
    margin: 0 0 0 -10%;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.fa-solid{
    margin: 0 0 0 8px;
    }