@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('cores.css');

html{
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
    letter-spacing: normal;
}

body{
    background: var(--fundo);
    font-family:'Poppins', sans-serif;
    font-weight: 470;
    letter-spacing: 5px;    
}

h2{
    color: var(--h2);
    text-transform: uppercase;
    margin: 3% 0 1% 5%;
    letter-spacing: normal;
    font-size: 180%;
    font-family: 'Poppins', sans-serif; 
}

#select-filtro{
    padding: 0%;
    width: 200px;
    height: auto;
    color: var(--cinza-4);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 1px solid;
    font-size: 100%;
}

.botao-extrair{
    background-color: var(--azul-1);
    color: var(--branco-1);
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    border: none;
    display: flex;
    margin: 1% 0 2% 81.6%;
    font-size: 100%;
    padding: 0.5%;
    border-radius: 5px;
    cursor: pointer;
}

.botao-extrair:hover{
    transition: all;
    transform: scale(1.05);
}

.fa-solid{
margin: 1.5% 0 0 8px;
}

.container-geral{
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 88%;
    margin-top: 1.5%;
    text-align: justify;
    border-bottom: 1px solid var(--cinza-3);
    padding-bottom: 2%;
}

.container-2{
    width: 88%;
    margin-top: 1.5%;
    text-align: justify;
    border-bottom: 1px solid var(--cinza-3);
}

.item{
    border-bottom: 1px solid var(--cinza-3);
    margin: 1% 5% 0 0;
}

.problema-data{
    display: flex;
    justify-content:space-between;
}

/* .cabecalho-ocorrencia{
    margin: 0 0 3% 0
} */

.titulo-problema{
    color: var(--titulo);
    letter-spacing: normal;
    font-size: 180%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.data-ocorrencia{
    color: var(--dados);
    padding-right: 1.5%;
}

.titulo-ocorrencia{
    font-weight: 450;
    font-size: 1.2rem;
    color: var(--dados);
    padding-left: 1.5%;
}

.infos-ocorrencia{
    display: flex;
    flex-direction: column;
    padding-left: 1.5%;
}

.responsavel{
    color: var(--titulo);
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
}

.resp-nome{
    color: var(--titulo);
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: 0.5%;
}


.laboratorio{
    color: var(--titulo);
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.descricao-ocorrencia{
    color: var(--dados);
    margin: 0 0 2% 0;
    margin-left: 1.5%;
    width: 90%;
}

/* Pagina de visualizar ocorrencia */

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-problemas{
    display: flex;
    flex-direction: column;
    margin: 1% 0 0 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    text-align: justify;
    word-spacing: 8px;
}

.container-ocorrencia{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 60%;
    margin: 1% 5% 0 0;
}

.botao-registrar{
    background-color: var(--azul-1);
    color: var(--branco-1);
    width: 15%;
    height: auto;
    font-family: 'Poppins', sans-serif ;
    border: none;
    display: flex;
    margin: 1% 81% 2% 5%;
    font-size: 100%;
    padding: 0.5%;
    border-radius: 5px;
    cursor: pointer;
}

.botao-registrar:hover{
    transition: all;
    transform: scale(1.05);
}

.fa-regular{
margin: 1.5% 0 0 8px;
}

.titulo-editar{
    display: flex;
    justify-content: space-between;
}

.editar{
    border: none;
    width: 35px;
    height: 32px;
    background-color: var(--amarelo-1);
    color: var(--branco-1);
    font-size: 120%;
    margin: 0;
    padding: 0.5%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}


button:hover{
    transition: all;
    transform: scale(1.05);
}

.arquivar{
    border: none;
    width: 48px;
    height: 35px;
    background-color: var(--azul-2);
    color: var(--branco-1);
    font-size: 120%;
    margin: 0;
    margin-right: 3%;
    padding: 5.5px 0px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.problemas{
    color: var(--dados);
}

/* filtro */
#pai{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    max-width: 50%;
    margin: 1% 0 0 5%;
    font-family: 'Poppins', sans-serif;
}

#problema{
    border: none;
    width: 38%;
    font-family: 'Poppins', sans-serif;
    font-size: 85%;
    margin-left: 10%;
}

#data{
    border: none;
    width: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 85%;
    margin-left: 3%;
}

#laboratorio{
    border: none;
    width: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 85%;
    margin-left: 10%;
}

.fa-filter{
    font-size: 130%;
}

a.limpar{
    color: red;
    margin: 0 0 0 25%;
    position: absolute;
}

select{
    background-color: var(--branco-1);
}

.filtrar{
    border: none;
    background-color: transparent;
    color: var(--fundo-botao);
    width: auto;
    margin: -0.3% 0 0 -15%;
    /* position: absolute; */
    cursor: pointer;
}