@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,400;7..72,500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('cores.css');

html{
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
}

.voltar{
    display: flex;
    align-items: center;
    margin: 2% 5% 2% 5%;
}

#voltar-icone{
    font-size: 175%;
    color: var(--preto-1);
}

.texto-voltar{
    font-family: 'Poppins', sans-serif;
    margin-left: 0.8%;
    font-weight: 500;
    font-size: 110%;
    color: var(--preto-1);
}

h2{
    color: var(--azul-1);
    text-transform: uppercase;
    margin: 1% 0 0 3%;
    letter-spacing: normal;
    font-size: 180%;
    font-family: 'Poppins', sans-serif; 
}