@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('cores.css');

html{
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
    letter-spacing: normal;
}

body{
    background: var(--branco-1);
    font-family:'Poppins', sans-serif;
    font-weight: 470;
    letter-spacing: 5px;    
}

h2{
    color: var(--azul-1);
    text-transform: uppercase;
    margin: 3% 0 0 5%;
    letter-spacing: normal;
    font-size: 180%;
    font-family: 'Poppins', sans-serif; 
}

.botao-extrair{
    background-color: var(--azul-1);
    color: var(--branco-1);
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif ;
    border: none;
    display: flex;
    margin: 1% 0 2% 85%;
    font-size: 100%;
    padding: 0.5%;
    border-radius: 5px;
    cursor: pointer;
}

.botao-extrair:hover{
    transition: all;
    transform: scale(1.05);
}

.fa-solid{
margin: 1.5% 0 0 8px;
}

.container-geral{
    display: flex;
    justify-content: space-between;
}

.container-1{
    display: flex;
    flex-direction: column;
    margin: 1% 0 0 5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    text-align: justify;
    word-spacing: 8px;
}

.container-2{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 60%;
    margin: 1% 5% 0 0;
    border-bottom: 1px solid var(--cinza-3);
}

.problema-data{
    display: flex;
    justify-content:space-between;
}

/* .cabecalho-ocorrencia{
    margin: 0 0 3% 0
} */

.titulo-problema{
    color: var(--azul-1);
    letter-spacing: normal;
    font-size: 180%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.titulo-ocorrencia{
    font-weight: 450;
}

.infos-ocorrencia{
    display: flex;
    flex-direction: column;
}

.responsavel{
    color: var(--azul-1);
    margin: 0 0 1% 0;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.laboratorio{
    color: var(--azul-1);
    margin: 0 0 1% 0;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.descricao-ocorrencia{
    margin: 0 0 4% 0;
}

/* Pagina de visualizar ocorrencia */

.container{
    width: 90%;
    margin: 3% 0 2% 5%;
    text-align: justify;
    border-bottom: 1px solid var(--cinza-3);
}

.botao-registrar{
    background-color: var(--azul-1);
    color: var(--branco-1);
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif ;
    border: none;
    display: flex;
    margin: 1% 81% 2% 5%;
    font-size: 100%;
    padding: 0.5%;
    border-radius: 5px;
    cursor: pointer;
}

.botao-registrar:hover{
    transition: all;
    transform: scale(1.05);
}

.fa-regular{
margin: 1.5% 0 0 8px;
}

.titulo-editar{
    display: flex;
    justify-content: space-between;
}

.editar{
    border: none;
    width: 35px;
    height: 32px;
    background-color: var(--amarelo-1);
    color: var(--branco-1);
    font-size: 120%;
    margin: 0;
    padding: 0.5%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}


button:hover{
    transition: all;
    transform: scale(1.05);
}

.arquivar{
    border: none;
    width: 48px;
    height: 35px;
    background-color: var(--azul-2);
    color: var(--branco-1);
    font-size: 120%;
    margin: 0;
    padding: 5.5px 0px 0 0;
    border-radius: 5px;
    cursor: pointer;
}